@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--fg-1));
}

#root,
main {
  flex-direction: column;
}

#root,
body,
html,
main {
  height: 100%;
  display: flex;
}

#root,
body,
html {
  width: 100%;
  overflow: hidden;
}

main {
  overflow: auto;
  scrollbar-color: #979797 transparent;
  scrollbar-width: thin;
  align-items: center;
}

.switchTheme:after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--bg-switch);
  border-radius: 0.25rem;
  transform: translateX(0);
  transition: all 300ms ease-in;
  border: 0.0625rem solid var(--bg-4);
}

:root.dark .switchTheme:after {
  transform: translateX(1.75rem);
  transition: all 300ms ease-in;
}

#root:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle at 50% 10%,
      rgba(0, 255, 148, 0.2),
      transparent 50%
    ),
    radial-gradient(circle at 10% 90%, rgba(0, 209, 255, 0.2), transparent 40%),
    radial-gradient(circle at 90% 90%, rgba(0, 255, 240, 0.2), transparent 40%),
    var(--gradient);
  z-index: -1;
}

progress::-webkit-progress-bar {
  background: 0 0;
  border-radius: 1rem;
}

progress::-moz-progress-bar {
  background: var(--blue-1);
  border-radius: 1rem;
}

progress::-webkit-progress-value {
  background: var(--blue-1);
  border-radius: 1rem;
}

::-webkit-calendar-picker-indicator {
  filter: saturate(0%) invert(48%);
}

@layer base {
  :root {
    --bg-1: #cfdadc80;
    --bg-2: transparent;
    --bg-3: #d9e2e380;
    --bg-4: #a4b4b8;
    --fg-1: 12 16 17;
    --fg-2: #4a5c60;
    --fg-3: #0c1011;
    --blue-1: #00c8f5;
    --blue-2: #00bbe5;
    --blue-3: #00aec8;
    --green: #00f531;
    --bg-switch: var(--bg-3);
    --gradient: #cfdadc;
  }

  :root[class~="dark"] {
    --bg-1: #0f181a80;
    --bg-2: #0f181a80;
    --bg-3: #202e3180;
    --bg-4: #383945;
    --fg-1: 255 255 255;
    --fg-2: #7f9a9f;
    --fg-3: #bbd6dc;
    --blue-1: #00d1ff;
    --blue-2: #03abd1;
    --blue-3: #007c8f;
    --green: #00ff33;
    --gradient: #000;
  }
}

@layer components {
  .shadow-border {
    @apply border border-shadow;
  }

  .primary-focus-border {
    @apply border border-focus-1;
  }

  .secondary-focus-border {
    @apply border border-focus-2;
  }
}
