.container {
  width: 100%;
  display: grid;
  padding: 3.2rem;
  gap: 2.4rem;
  max-width: 44.2rem
}

.progress,.progressInfo {
  display: flex;
  flex-direction: column
}

.progress {
  width: 100%;
  padding: 2.4rem;
  gap: 2.4rem;
  border: var(--shadow-border);
  border-radius: var(--border-radius)
}

.progressInfo {
  gap: .8rem
}

.progress h3 {
  font-size: var(--title-3)
}

.progressBar {
  width: 100%;
  height: 3.2rem;
  accent-color: var(--primary-accent-color);
  border: var(--shadow-border);
  border-radius: 1.6rem;
  appearance: none
}

.progressBar::-webkit-progress-bar {
  background: 0 0;
  border-radius: 1.6rem
}

.progressBar::-moz-progress-bar {
  background: 0 0;
  border-radius: 1.6rem
}

.progressBar::-webkit-progress-value {
  background: var(--primary-accent-color);
  border-radius: 1.6rem
}

.taskList {
  display: grid;
  gap: 1.6rem
}

.addTask input[type=text],.task {
  width: 100%;
  border-radius: 1.6rem;
  background: var(--secondary-background-color);
  border: var(--shadow-border);
  padding: 1.6rem
}

.task {
  display: flex;
  gap: 1.6rem
}

.task:hover {
  background: var(--tertiary-background-color)
}

.focus {
  border: var(--primary-focus-border);
}

.actions,.addTask {
  align-items: center
}

.addTask {
  display: flex;
  gap: 1.6rem
}

.addTask input[type=text] {
  height: 4rem;
  color: inherit;
  outline: 0;
  font-family: inherit;
  font-size: var(--body-2)
}

.addTask input[type=text]:focus {
  border: var(--primary-focus-border)
}

.actionForm input[type=radio],.addTask button {
  appearance: none;
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer
}

.addTask button {
  width: 4rem;
  height: 4rem;
  background: var(--primary-btn-color);
  color: var(--button-text-color);
  border: 0;
  line-height: .1rem;
  font-size: 2.4rem;
  font-weight: 700;
  font-family: inherit
}

.addTask button:hover {
  background: var(--primary-btn-hover)
}

.actionForm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2.4rem;
  font-size: var(--body-2)
}

.actionForm input[type=radio] {
  width: 1.8rem;
  height: 1.8rem;
  border: var(--radio-btn-border);
  outline: 0
}

.actionForm label {
  cursor: pointer
}

.actionForm input[type=text] {
  appearance: none;
  outline: 0;
  border: 0;
  padding: .8rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: 0 0;
  border-radius: .4rem;
  width: 100%
}

.backBtn {
  background: 0 0;
  display: flex;
}

.backBtn svg {
  transition: all 300ms ease-in
}

.backBtn svg:hover {
  transform: translateX(-.6rem)
}

.actionBtn {
  cursor: pointer;
  fill: var(--svg-btn-fill)
}

.actionBtn:hover {
  fill: var(--svg-btn-hover)
}

#taskDone {
  text-decoration: line-through
}

#taskDone input[type=radio] {
  background: var(--secondary-accent-color);
  border: 0
}

.taskInfo,.taskInfo form {
  display: flex;
  width: 100%
}

.taskInfo form {
  gap: .8rem;
  align-items: center;
  font-weight: 700
}

#hide {
  display: none
}

.actions,.saveForm {
  display: flex;
  gap: 1.6rem;
  width: fit-content
}

.saveForm {
  justify-content: space-between;
  width: 100%;
  font-size: var(--body-2)
}